body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    padding: 20px 5px 5px 5px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 320px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

h1 {
    margin: 0;
}

#timer-display {
    visibility: hidden;
}


#game-container {
    background: #beb2b2;
    padding: 5px 5px 5px 5px;
    width: 296px;
    height: 296px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

.game-panel {
    /* background: #c21919; */
    /* padding: 5px 5px; */
    width: 65px;
    height: 65px;
    border: solid black;
    margin: 0.5px;
}

.button-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 100%;
}

button {
    width: 70%;
    height: 60%;
    font-size: large;
    border-radius: 8px;
}


/* Slider switch */
.settings-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 3px;
}
.switch {
position: relative;
display: inline-block;
width: 60px;
height: 34px;
vertical-align: middle;
}

.switch input {
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
transition: .4s;
}

input:checked + .slider {
background-color: #2196F3;
}

input:checked + .slider:before {
transform: translateX(26px);
}

.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

#settings-area label {
display: inline-block;
margin-left: 10px;
vertical-align: middle; /* Align vertically with the switch */
}