body {
    /* font-family: Arial, sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    font-family: "Manrope", sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 320px;
    max-height: 665px; /* Ensuring the height does not exceed 665px */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds the height */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

h1 {
    margin: 0;
    font-size: 2em; /* Adjusted font size */
    color: #333; /* Updated color */
}

h2 {
    margin: 5px 0; /* Added margin */
    font-size: 1.2em; /* Adjusted font size */
    color: #3f3f3f; /* Updated color */
}

p {
    margin: 0;
}

.results-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 21.125px;
    background: #e9e1e1;
    border-radius: 4px; /* Added rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Added subtle shadow */
}

.score-area {
    /* margin: 0 21.125px; */
    flex: 1;
}

#timer-area {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /* margin: 0px 21.125px 0px; */
    width: 104px;
    flex: 2;
    padding-right: 4px;
    padding-left: 90px;
}


#timer-display {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /* margin-left: auto; */
    
}


#game-container {
    background: #beb2b2;
    padding: 5px 5px 5px 5px;
    width: 296px;
    height: 296px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    border-radius: 4px;
}

.game-panel {
    /* background: #c21919; */
    /* padding: 5px 5px; */
    width: 65px;
    height: 65px;
    border: solid black;
    margin: 0.5px;
    border-radius: 4px;
    background: grey;
    transition: background 0.2s;
}

.game-panel:hover {
    background: #ddd; /* Added hover effect */
}

.button-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 100%;
    margin: 5px 0;
}

button {
    width: 60%;
    height: 50px;
    font-size: x-large;
    border-radius: 8px;
    margin: 5px 0px;
    /* background-color: #a2ee3f; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, transform 0.3s;
}

button:hover {
    /* background-color: #1976D2; Updated hover background color */
    transform: scale(1.05); /* Added hover transform effect */
}


/* Slider switch */
.settings-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 3px;
}
.switch {
position: relative;
display: inline-block;
width: 60px;
height: 34px;
vertical-align: middle;
}

.switch input {
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
transition: .4s;
}

input:checked + .slider {
background-color: #2196F3;
}

input:checked + .slider:before {
transform: translateX(26px);
}

.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

#settings-area label {
display: inline-block;
margin-left: 10px;
vertical-align: middle; /* Align vertically with the switch */
}